/* 
--- 01 TYPOGRAPHY
font sizes (px)
10 / 12 / 14 / 16 / 18 / 20 / 24 / 30 / 36 / 44 / 52 / 62 / 74 / 86 / 98

- font weights
default: 400
medium: 500
semi-bold: 600
bold: 700

- line heights
default: 1
small: 1.05
medium: 1.2
paragraph default: 1.6
Large: 1.8

- Letter spacing
0.5px
0.75px

--- 02 COLORS
-primary: 
#fefae0
-secondary: 
#ccd5ae
#e9edc9
#faedcd
#d4a373
-grays:
#2b2d42
*/

body {
  font-family: "Hind Guntur", sans-serif;
  color: #2b2d42;
  line-height: 1;
  font-weight: 400;
  background-color: #fefae0;

  overflow-x: hidden;
}

header {
  margin: auto;
  text-align: center;
}

nav {
  text-align: center;
}

.mp-container {
  width: 1000px;
  margin: 0 auto;
}

h1,
h2 {
  font-family: "Rokkitt", sans-serif;
  font-size: 36px;
  font-weight: 700;
  color: #264653;
  margin-bottom: 10px;
}

h3,
h4,
h5,
h6 {
  font-family: "Rokkitt", sans-serif;
  font-size: 26px;
  color: #2b2d42;
  margin-bottom: 10px;
}

a:link,
a:visited {
  text-decoration: none;
}

.logo {
  width: 150px;
  height: auto;
  padding: 10px;
  border: 3px solid #d4a373;
  background-color: #e9edc9;
}
